@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
}

.newspaper-container {
    background-color:white;
    box-shadow: 1px 1px #ddd;
    padding: 1em;
    margin: 3em auto;
    border-radius: 15px;
    width: 700px;
}

.date {
    font-family: Source Sans Pro;

}

h1 {
    font-family: Abril Fatface;
    text-align: center;
    font-size: 2.5em;
}

a:link { 
    text-decoration: none; 
}

a:visited {
    text-decoration: none;
    color: #777;
}

nav li {
    display: inline-block;
    text-decoration: none;
    font-family: Source Sans Pro;
    color: #777;
    padding-right: 0.5em;
}

nav {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    
}

h2, h4 {
    font-family: Roboto Slab;
}

p {
    font-family: Source Sans Pro;
}

h5 {
    font-family: Abril Fatface;
    color: #dd3232;
}

/* Centers the articles div */
.more-articles {
    border-top: 2px solid #eee;
    margin: 0 auto;
    text-align: center;
}

/* Centers the sections */
section {
    display: inline-block;
    width: 20em;
    padding: 10px;
    text-align: left;
}

/* Centers the banner image and increases the size */
.bannerImg {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: auto;
}